<div class="wordle-container" [ngClass]="{'dark-mode': isDarkMode}">
  <h1 class="name-game">Wordle Game</h1>

  <div *ngIf="errorMessage" class="error-message" role="alert">
    {{ errorMessage }}
  </div>

  <div *ngIf="game">
    <section *ngIf="game && !gameOver">
      <p>Intentos restantes: {{ game.attemptsLeft }}</p>
      <p>Palabra a adivinar: {{ hiddenWord  }}</p>
      <p *ngIf="game.guesses && game.guesses.length > 0">Intentos anteriores:</p>
      <ul class="list-guesses">
        <li class="guesses" *ngFor="let guess of game.guesses">
          {{ guess.guessWord }} - {{ guess.result }} - {{ gameWon }}
        </li>
      </ul>
      
      <label class="label-input" for="guessWord">Introduce tu palabra:</label>
      <input class="input-word" type="text" id="guessWord" (input)="onInput($event)" [disabled]="buttonDisabled" aria-label="Introduce tu palabra">
      <button class="button-try" (click)="makeGuess()" [disabled]="buttonDisabled" aria-label="Enviar intento">Enviar intento</button>
    </section>

    <section *ngIf="gameOver">
      <h2 class="title-end-game" *ngIf="gameWon">¡Felicidades! Has ganado el juego.</h2>
      <h2 class="title-end-game" *ngIf="!gameWon">¡Lo siento! Has perdido el juego.</h2>
      <button class="button-start-game" (click)="startNewGame()" aria-label="Iniciar nuevo juego">Iniciar nuevo juego</button>
    </section>
  </div>
  <div class="mode-switch">
    <label class="switch">
      <input class="switch-input" type="checkbox" (change)="toggleDarkMode()">
      <span class="slider round"></span>
    </label>
    <span>Modo Oscuro</span>
  </div>
</div>
